<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <h1>Edit Item</h1>
    <form action="{{ url_for('edit', key=key) }}" method="post">
        <label for="item">Edit Item:</label>
        <input type="text" id="item" name="item" value="{{ item }}" required>
        <button type="submit">Save</button>
    </form>
</body>
</html>
